@model IEnumerable<Procurment.Models.Order>
@{
    ViewBag.Title = "SiteManagerDeleteOrder";
}


<br /><br />

<div class="container text-right">
    <button class="btn btn-light btn-active">
        @Html.ActionLink("View Orders", "SiteManagerPreviousorder", "ViewOrders", new { @class = "my-class" })
    </button>
    <button class="btn btn-light btn-active">
        @Html.ActionLink("Update Orders", "SiteManagerUpdateOrder", "ViewOrders", new { @class = "my-class" })
    </button>
    <button class="btn btn-light">
        @Html.ActionLink("Delete Orders", "SiteManagerDeleteOrder", "ViewOrders", new { @class = "my-class" })
    </button>
</div>

<div class="panel-default">
    <div class="panel-body" style="background-color:antiquewhite">

        <h2 class="text-center">Previous Orders</h2>

        <br /><br />

        @if (!Model.Any())
        {
            <p>We don't have any orders yet</p>
        }

        else
        {

            <table id="orders" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>Company Status</th>
                        <th>Supplier Status</th>
                        <th>Delete Order</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var order in Model)
                    {
                        if ((order.CompanyStatus == "Rejected") || (order.CompanyStatus == "Approved" && order.SupplierStatus == "Rejected"))
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(order.OrderId, "Details", "Orders", new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(x => order.Date, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(x => order.TotalAmount, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(x => order.CompanyStatus, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(x => order.SupplierStatus, new { @class = "form-control" })
                                </td>
                                <td>
                                    <button data-order-id="@order.OrderId" class="btn btn-danger js-delete text-center">Delete</button>
                                </td>
                            </tr>
                        }


                    }

                </tbody>

            </table>
        }

    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            $("#orders").DataTable();

            $("#orders .js-delete").on("click", function () {
                if (confirm("Are you sure you want to delete?")) {
                    $.ajax({
                        url: "/api/ordermanage/" + $(this).attr("data-order-id"),
                        method: "DELETE",
                        success: function () {
                            console.log("Success");
                        }
                    });
                }
            });
        });
    </script>


}




