@model IEnumerable<Procurment.Models.Order>
@{
    ViewBag.Title = "viewReject";
}

<br /><br />
<h2><font color="white"><b>Rejected Orders</b></font></h2>
<br />

<div class="panel-default">
    <div class="panel-body" style="background-color:antiquewhite">

        <br />
        @if (!Model.Any())
        {
            <p>We don't have any Rejected orders yet</p>
        }

        else
        {

            <table id="orders" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Sequential Reference</th>
                        <th>Company Status</th>
                        <th>Supplier Status</th>
                        <th>Total Amount</th>
                        <th>Date</th>
                        <th>Approve</th>



                    </tr>

                </thead>
                <tbody>

                    @foreach (var order in Model)
                    {

                        if (order.SupplierStatus == "Rejected")
                        {
                            <tr>


                                <td>
                                    @Html.DisplayFor(o => order.OrderId, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(o => order.Sequential_Reference, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(o => order.CompanyStatus, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(o => order.SupplierStatus, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(o => order.TotalAmount, new { @class = "form-control" })
                                </td>
                                <td>
                                    @Html.DisplayFor(o => order.Date, new { @class = "form-control" })
                                </td>
                                <td>
                                    <button data-order-id="@order.OrderId" class="btn btn-primary js-update1">Approve</button>
                                </td>


                            </tr>
                        }

                    }

                </tbody>

            </table>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#orders").DataTable();
            $("#orders .js-update1").on("click", function () {

                var status = new Object();
                status.SupplierStatus = "Approved";


                var button = $(this);
                if (confirm("Are you sure you want to Approve this order?")) {
                    $.ajax({
                        url: "/api/suppliers/" + button.attr("data-order-id"),
                        type: "PUT",
                        dataType: 'json',
                        data: status,
                        success: function () {
                            button.parents("tr").remove();
                            alert("Order Approved!!");
                        },
                        error: function () {
                            alert("Error!! cant Approve this order");
                        }
                    });
                }



            });

        });

    </script>
}

