@model IEnumerable<Procurment.Models.Order>
@{
    ViewBag.Title = "SearchDeptOrder";
}

<h2><font color="white"><b>Department New Orders!!</b></font></h2>
<br />
<br />
<div class="panel-default">
    <div class="panel-body" style="background-color:antiquewhite">
    @if (!Model.Any())
    {
        <p>We don't have any orders yet</p>
    }

    else
    {

        <table id="orders" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Sequential Reference</th>
                    <th>Company Status</th>
                    <th>Item Name</th>
                    <th>Quantity</th>    
                    <th>Total Amount</th>
                    <th>Date</th>
                    <th>Approve</th>
                    <th>Reject</th>
                    
                </tr>

            </thead>
            <tbody>
                @foreach (var order in Model)
                {
                    if (order.CompanyStatus == "Pending")
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => order.OrderId, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DisplayFor(x => order.Sequential_Reference, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DisplayFor(x => order.CompanyStatus, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DisplayFor(x => order.ItemName, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DisplayFor(x => order.Quanity, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DisplayFor(x => order.TotalAmount, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DisplayFor(x => order.Date, new { @class = "form-control" })
                        </td>
                        <td>
                            <button data-order-id="@order.OrderId" class="btn btn-primary js-update1">Approve</button>
                        </td>
                        <td>
                            <button data-order-id="@order.OrderId" class="btn btn-danger js-update">Reject</button>
                        </td>
                     
                    </tr>

                    }
                }

            </tbody>

        </table>
    }
    </div>
    </div>
@section scripts
{
<script>
 
    $(document).ready(function () {
        $("#orders").DataTable();
        $("#orders .js-update1").on("click", function () {

            var status = new Object();
            status.CompanyStatus = "Approved";


            var button = $(this);
            if (confirm("Are you sure you want to Approve this order?")) {
                $.ajax({
                    url: "/api/vieworders/" + button.attr("data-order-id"),
                    type: "PUT",
                    dataType: 'json',
                    data: status,
                    success: function () {
                        button.parents("tr").remove();
                    },
                    error: function () {
                        console.log("Error");
                    }
                });
            }



        });

    });


    $(document).ready(function () {
        $("#orders .js-update").on("click", function () {
            var status = new Object();
            status.CompanyStatus = "Rejected";

            var button = $(this);
            if (confirm("Are you sure you want to Reject this order?")) {

                $.ajax({
                    url: "/api/vieworders/" + button.attr("data-order-id"),
                    type: "PUT",
                    dataType: 'json',
                    data: status,
                    success: function () {
                        button.parents("tr").remove();
                    },
                    error: function () {
                        console.log("Error");
                    }
                });
            }





        });

    });

</script>
 }