@model Procurment.Models.Payment
@{
    ViewBag.Title = "PaidItemDetails";
}

<h2><font color="white"><strong>Paid Order Details</strong></font></h2>

<div class="container text-center">
    <button class="btn btn-light btn-active" href="#">Pending Payments</button>
    <button class="btn btn-info" href="#">Successful Payments</button>
    <button class="btn btn-light" href="#">Manager Approval</button>
</div>

@using (Html.BeginForm("Create", "Payments"))
{
    <div class="panel-default">
        <div class="panel-body" style="background-color:antiquewhite">

            <div class="form-group">
                @Html.LabelFor(paidOrder => paidOrder.OrderId)
                @Html.TextBoxFor(paidOrder => paidOrder.OrderId, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(paidOrder => paidOrder.SupplierName)
                @Html.TextBoxFor(paidOrder => paidOrder.SupplierName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(paidOrder => paidOrder.AccountNo)
                @Html.TextBoxFor(paidOrder => paidOrder.AccountNo, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(paidOrder => paidOrder.TotalAmount)
                @Html.TextBoxFor(paidOrder => paidOrder.TotalAmount, new { @class = "form-control" })
            </div>
            <button type="submit" class="btn btn-success">View</button>
        </div>
    </div>

}




